* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

header {
    md-header {
        h1 {
            text-align: center;
        }
    }
}

table.calendar {
    width: 98%;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 1%;
    height: 50%;

    td.calendar-day {
      text-align: center;
      border: 1px solid black;
      padding: 10px;
      &.today {
        background-color: green;
      }
    }
}
