@import 'variables/colors';
@import 'variables/animations';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  position: relative;
  width: 100vw;
}

.show-chores {
  md-header {
    h1 {
      text-align: center;
    }
  }

  .congrats {
    background-image: url('/img/confetti.gif');
    background-size: cover;
    font-size: 2em;
    text-align: center;
    text-shadow: 0 5px 2px $standard-shadow;

    &.ng-enter {
      animation: fadeIn 2s;
    }
  }

  .chore-defer,
  .chore-finished {
    svg {
      fill: inherit;
    }
  }
}

.chore {
  width: 50vw;

  &.ng-leave {
    animation: slideOutRight .5s, fadeOut .5s;
  }

  md-card {
    text-align: center;
    width: 100%;

    &:hover {
      background-color: $chore-card-hover;
    }
  }
}

.calendar {
  border: 4px groove $gray;
  height: 50vw;
  left: 25vw;
  position: relative;
  width: 50vw;
}

.calendar-table {
  border: 1px solid $black;
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}

.calendar-day {
  border: 1px solid $black;
  padding: 10px;
  text-align: center;
  transition: .15s;
  width: 1 / 7 * 100%;

  &.today {
    background-color: $today-color;
  }

  &:hover {
    background-color: $calendar-hover;
    cursor: pointer;
    transition: .15s;
  }
}

.calendar-day-name {
  text-decoration: underline;
}

.animated-view {
  position: relative;
  width: 100%;

  &.ng-enter {
    position: absolute;

    &.slide-right {
      animation: slideInRight .5s;
    }

    &.slide-left {
      animation: slideInLeft .5s;
    }
  }

  &.ng-leave {
    position: absolute;

    &.slide-right {
      animation: slideOutLeft .5s;
    }

    &.slide-left {
      animation: slideOutRight .5s;
    }
  }
}

.task-scheduled {
  background-color: $task-scheduled;
}
