<md-dialog>
  <md-toolbar class="md-primary md-hue-1" layout="row" layout-align="center center"
      layout-padding>
    <h1>{{clicked | capitalize}}, {{monthName | capitalize}} {{date}}</h1>
  </md-toolbar>

  <md-dialog-content class="md-dialog-content">
    <ul>
      <li ng-repeat="task in tasks" layout="row" layout-aling="start center">
        <md-button class="md-fab md-mini md-warn" ng-click="deleteTask(task)" aria-label="Delete Task">
          <md-icon md-svg-icon="../img/icons/delete_forever_white.svg"></md-icon>
        </md-button>
        <span layout="row" layout-align="center center">{{task.name}}</span>
      </li>
    </ul>

    <form layout="column">
      <md-input-container>
        <input type="text" placeholder="Task" ng-model="task.name">
      </md-input-container>
      <md-button class="md-raised md-primary" ng-click="addTask()">
        Add Task
      </md-button>
    </form>
  </md-dialog-content>
</md-dialog>
