<md-dialog>
  <md-toolbar class="md-primary md-hue-1" layout="row" layout-align="center center"
      layout-padding>
    <h1>{{clicked | capitalize}}, {{monthName | capitalize}} {{date}}</h1>
  </md-toolbar>

  <md-dialog-content class="md-dialog-content">
    <ul>
      <li ng-repeat="task in tasks">
        <h3>{{task.name}}</h3>
      </li>
    </ul>

    <form layout="column">
      <md-input-container>
        <input type="text" placeholder="Task" ng-model="task.name">
      </md-input-container>
      <md-button class="md-raised md-primary" ng-click="addTask()">
        Add Task
      </md-button>
    </form>
  </md-dialog-content>
</md-dialog>
