<md-header>
    <h1>
      Josh's chores for {{Chores.today | capitalize}}, {{Chores.monthName | capitalize}} {{Chores.todaysDate}}
    </h1>
</md-header>
<md-list>
    <h2 ng-if="!Chores.chores.length" class="congrats">
      Congratulations!  You have finished all of your chores for today!
    </h2>
    <md-list-item ng-repeat="chore in Chores.chores" class="chore">
        <md-card>
            <md-card-content layout="column">
                <p ng-bind="chore.name"></p>
                <md-icon md-svg-src="img/icons/ic_check_circle_black_24px.svg" class="chore-finished"
                    ng-click="Chores.finish(chore)">
                </md-icon>
            </md-card-content>
        </md-card>
    </md-list-item>
</md-list>
