<section class="calendar">

  <table class="calendar-table">
    <thead>
      <tr>
        <th colspan="7">
          <h2 ng-bind="Calendar.monthName | capitalize"></h2>
        </th>
      </tr>
      <tr>
        <th ng-repeat="day in Calendar.days">
          <span class="calendar-day-name">{{day | capitalize}}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in Calendar.rows">
        <td ng-repeat="day in row track by $index" ng-class="{today: day === Calendar.todaysDate, 'calendar-day': day}"
            ng-click="Calendar.openDialog(day, row)">
          {{day}}
        </td>
      </tr>
    </tbody>
  </table>

</section>
