<section class="calendar">

  <table class="calendar-table">
    <thead>
      <tr>
        <th colspan="7">
          <h2 ng-bind="Calendar.monthName | capitalize"></h2>
        </th>
      </tr>
      <tr>
        <th ng-repeat="day in Calendar.days">
          <span class="calendar-day-name" hide-xs hide-sm>{{day | capitalize}}</span>
          <span class="calendar-day-name" hide-gt-sm>{{day.slice(0, 2) | capitalize}}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in Calendar.rows">
        <td ng-repeat="day in row track by $index" ng-click="Calendar.openDialog(day, row, Calendar.tasks)"
            ng-class="{today: day === Calendar.todaysDate,
              'calendar-day': day,
              'task-scheduled': Calendar.taskDates.indexOf(day) > -1}">
          {{day}}
        </td>
      </tr>
    </tbody>
  </table>

</section>
