<section class="show-chores">
  <md-content>
    <md-card>

      <md-card-header>

        <md-card-title layout="row" layout-align="center">
          <span class="md-title">Edit Chores</span>
        </md-card-title>

      </md-card-header>

      <md-card-content>

        <form layout="column">
          <div layout="row" layout-align="space-around center" flex>
            <md-input-container>
              <input type="text" placeholder="Chore Name">
            </md-input-container>

            <div layout="column" layout-align="space-between center" ng-repeat="day in Chores.days"
                flex>
              <h5 ng-bind="day | capitalize"></h5>
              <md-checkbox ng-model="Chores.addChores[day]" aria-label="{{day}}"></md-checkbox>
            </div>
          </div>

          <div layout="row" layout-align="center">
            <md-button class="md-raised md-primary" flex="nogrow">Add</md-button>
          </div>
        </form>

      </md-card-content>

    </md-card>
  </md-content>
</section>
